{{template "admin_header.html" .}}

<nav>
  <ul>
    <li><a href="../../">Admin Panel</a></li>
    <li><a href="../">Permission Groups</a></li>
    <li>{{.PermissionGroup.Description}}</li>
  </ul>
</nav>

{{template "admin_flashmsg.html" .FlashMsg}}

<form method="POST" action=".">
  <fieldset>
    <label>
      Description
      <input type="text" name="description" value="{{.Description}}"required>
      {{if .Errors.description}}
        <div class="infobox red">
          {{range.Errors.description}}
            {{.}}
          {{end}}
        </div>
      {{end}}
    </label>
    <label>
      Whitespace separated list of permissions
      <textarea name="permissions">
{{- range .Permissions -}}
{{.}}
{{end -}}
      </textarea>
      {{if .Errors.permissions}}
        <div class="infobox red">
          {{range.Errors.permissions}}
            {{.}}
          {{end}}
        </div>
      {{end}}
    </label>
  </fieldset>

  <p>
    Created {{.PermissionGroup.CreatedAt.Format "02.01.2006"}},
    last modified {{.PermissionGroup.ModifiedAt.Format "02.01.2006"}}.
  </p>

  {{.CSRFField}}
  <button class="green">Save changes</button>
</form>

{{template "admin_footer.html" .}}
