{{template "admin_header.html" .}}

<h2>Enable two-factor authentication.</h2>

<div class="infobox green">
  Scan the image below with the two-factor authentication app on your phone.
</div>
<p>
  <img alt="TOTP QR-Code" src="data:image/png;base64,{{.QRCodeBase64}}">
</p>

<form method="POST" action=".">
  <p>
    Confirm scanned two-factor authentication code.
  </p>

  {{if .ErrorMsg}}
    <div class="infobox red">{{.ErrorMsg}}</div>
  {{end}}

  <formset>
    <label>
      Verification code
      <input type="text" name="code" required autocomplete="off">
    </label>
  </formset>

  {{.CSRFField}}
  <button>Confirm</button>
</form>

{{template "admin_footer.html" .}}
