{{template "admin_header.html" .}}

<nav>
  <ul>
    <li><a href="../../../">Admin Panel</a></li>
    <li><a href="../../">Accounts</a></li>
    <li><a href="../">{{translate "Account of"}} <em>{{.Account.Email}}</em></a></li>
    <li>Password change</li>
  </ul>
</nav>

<form method="POST" action=".">
  <header>
    {{translate "Change password for"}} {{.Account.AccountID}}
  </header>

  <fieldset>
    <label>
      {{translate "Password"}}
      {{if .Errors.password}}
        <div class="infobox red">{{range .Errors.password}}{{.}}{{end}}</div>
      {{end}}
      <input name="password" type="password" required>
    </label>
    <label>
      {{translate "Repeat password"}}
      <input name="password_repeat" type="password" required>
    </label>
  </fieldset>

  <fieldset>
    <button>{{translate "Set new password"}}</button>
  </fieldset>

  {{.CSRFField}}

</form>

{{template "admin_footer.html" .}}
