{{template "public_header.html" .}}

  <form method="POST" action=".">
    <h2>{{translate "Reset password"}}</h2>
    <fieldset>
      <label>
        {{translate "Password"}}
        <input name="password" type="password" required>
      </label>
      <label>
        {{translate "Repeat password"}}
        <input name="password_repeat" type="password" required>
      </label>
      {{if .Errors.password}}
        <div class="infobox red">{{range .Errors.password}}{{.}}{{end}}</div>
      {{end}}
    </fieldset>

    {{.CSRFField}}

    <fieldset>
      <button>{{translate "Change password"}}</button>
    </fieldset>
  </form>

{{template "public_footer.html" .}}
